*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  margin: 40px;
}

.foodList{
 list-style-type: none;
 display: flex;
 gap : 30px;
}

.foodList li {
  border: 2px solid black;
  padding: 10px;
}


.navbarlist{
 list-style-type: none;
 display: flex;
 gap : 50px;
 margin: 50px;
}


.forms_inputs{
  display: flex;
  gap: 10px;
  margin: 20px;
}


